@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
body,html {
    background-image: url(./imgs/back.jpg);
    background-position: center center;
    font-family: 'Prosto One', cursive;
    color: #fff;
    width: 75%;
    margin:auto;
    text-align: center;
}
body *{
  margin-left: auto;
  margin-right: auto;
}

a {
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
    border: 2px solid white; 
    border-radius: 4px; 
    padding: 0.5em 1em; 
    display: inline-block;
    margin: auto;
  }
  
  a:hover {
    background-color: #000060;
  }

.image-link {
    width: 50px;
    height: 50px;
    border: none;
}

.image-link img {

    filter: brightness(100%);
}
  