*{
    box-sizing: border-box;
    padding: 20px;
}
aside {
    width: 20%;
    float: left;
}
main {
    width: 80%;
    float: right;
}
@media(max-width:500px){
    aside {
        display: none;
    }
    main{
        width: 100%;
    }
}